/**
 * Common
 * */

html{background-color:#e1e4d6;margin-top:0px !important;}
p:empty {display: none;}
table td{vertical-align:top;padding:0 0 10px 0;}
/*table td img{height:190px;width:90%;}*/
table td img {width: 100%;}
table td p, table td strong{margin:0 0 0 10px;}
table td p{width:90%;position:relative;float:left;line-height:22px;}
.post_content ol{padding-left:20px;}
section a{color:#333333;text-decoration:underline;}
.navbar-default{background-color:#FFFFFF;/*border:none !important;*/}
.container {z-index:5000;}
.container > .navbar-header{padding:0;width:100%;}
.header-nav,.header-nav .container{background:none !important;padding:0;z-index: 3000;}
.green-header-container{background-color:#2b331f;/* height:295px;*/}
.header-title.col-lg-6{padding-left:0px;}
.header-title-box{margin-top:0px;}
.header-title-box.col-lg-4 {padding-left: 0!important;padding-right: 0!important}
.header-title-box h1,.h1,.header-title-box h1 a,.header-title-box h2,.h2,.header-title-box h2 a{font-family:'Roboto',sans-serif;color:#c3cf7a;text-decoration:none;}
.header-title-box h1,.h1,.header-title-box h1 a,.header-title-box h2,.h2,.header-title-box h2 a{font-size:56px;line-height:54px;letter-spacing:1px;font-weight:900;}
.header-logo-box.col-lg-4{padding-left: 0!important;padding-right: 0!important}
img.header-logo{margin:0!important;}
.light_orange a{color:#e89c26 !important;}
h3,h4,h5,h6{font-family:'Roboto',sans-serif;color:#396238;text-decoration:none;}
h3{font-size:22px;margin:15px 0 5px 0 !important;}
section.post_content ul{margin:0 !important;padding:0 0 20px 20px !important;}
section.post_content ul li{list-style-type:none;list-style:url("images/bullet.png");margin:5px 0;}
.post_content img{background-color:rgba(89,89,89,.3) !important;}
#main > article section img{background:none;}
/**
 * Header
 * */
.header-top .container {z-index:1000;}
.header-top-strip .container{margin-right:23%;}
.header-top-strip{z-index:2000;position:relative;width:85%;margin-top:15px;height:27px;float:right;background:#e1e4d6;box-shadow:inset 100px 0px 100px -50px #2f3920;}
.header-top-strip p{color:#386238 !important;line-height:27px;letter-spacing:2px;font-weight: bold;}
/* Search */
.header-search-bar input::-webkit-input-placeholder,.header-search-bar input:-moz-placeholder,.header-search-bar input:-ms-input-placeholder{font-weight:bold;}
.header-search-bar .form-control{float:right !important;width:70%;letter-spacing:0px;}
.input-group.header-search-bar{}
input[type=text].form-control{-moz-box-shadow-bottom:4px 4px 4px 0 rgba(0,0,0,0.3);-webkit-box-shadow-bottom:4px 4px 4px 0 rgba(0,0,0,0.3);box-shadow:4px 4px 4px 0 rgba(0,0,0,0.3);}
.btn-primary{background:url('images/search.png') no-repeat;height:27px;width:42px;border:none;}
.input-group-btn{-moz-box-shadow-bottom:4px 4px 4px 0 rgba(0,0,0,0.3);-webkit-box-shadow-bottom:4px 4px 4px 0 rgba(0,0,0,0.3);box-shadow:4px 4px 4px 0 rgba(0,0,0,0.3);z-index:100;}
.input-group-btn:last-child > .btn,button [type=submit]:focus,.input-group-btn:focus{outline:0 !important;}
.form-control{padding:5px !important;border:none;background-color:#f3f4ef;height:27px;}
/* Main nav */
.navbar-collapse{padding-left:0px;padding-right:0px;}
.navbar-nav{height:35px;line-height:45px;width:100%;}
.navbar-nav > li,.navbar-nav > li a,.navbar-default .navbar-nav > li > a{color:#ffffff;font-weight:500;outline:0;}
.navbar-nav > li a{border-right:1px solid #FFFFFF;}
.navbar-nav > li.last a{border-right:none;}
.navbar-nav > li a{padding:2px 10px;}
.navbar-nav > li > a:hover{background:none;background-color:transparent;color:#c3cf7a !important;}
/*
 .navbar-nav > li > a:before{content:"";position:absolute;width:80%;height:1px;bottom:0;left:8%;background-color:#c3cf7a;visibility:hidden;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transition:all 0.3s ease-in-out 0s;transition:all 0.3s ease-in-out 0s;}
 .navbar-nav > li.first a:before{width:100% !important;left:-2% !important;}
 .navbar-nav > li > a:hover:before{visibility:visible;-webkit-transform:scaleX(1);transform:scaleX(1);}
 .navbar-nav > li.current-menu-item > a:hover:before,.navbar-nav > li.current-page-ancestor a:hover:before,.navbar-nav > li.current-menu-parent a:hover:before{visibility:hidden !important;-webkit-transform:scaleX(0) !important;transform:scaleX(0) !important;}*/
.navbar-default .navbar-nav > .active > a,.navbar-nav > li.active a,.navbar-nav > li.current-page-ancestor a,.navbar-nav > li.current-menu-parent a{color:#c3cf7a;/*border-bottom:2px solid #c3cf7a;*/
 font-weight:bold;}
.navbar-nav > li.first,.navbar-nav > li.first a{/*padding-left:0px; margin-left:30px;*/}
.navbar-nav > li.last{padding-right:0px;margin-right:0px;}

/* Slider */
ul.slides{box-shadow:0 20px 30px -20px black;border-bottom:5px solid white!important;}
.metaslider{position:relative;z-index:10000;margin-bottom: -40px;}
/*.metaslider .slides img,.flexslider .slides img,.metaslider .flexslider .slides li{-webkit-box-shadow:0px 5px 25px 0px rgba(0,0,0,0.3) !important;-moz-box-shadow:0px 5px 25px 0px rgba(0,0,0,0.3) !important;box-shadow:0px 5px 25px 0px rgba(0,0,0,0.3) !important;}*/
.flex-control-nav{bottom:25px !important;z-index:100;}
.flex-control-paging li a{background:rgba(255,255,255,0.5) !important;}
.flex-control-paging li a.flex-active{background:rgba(255,255,255,1.0) !important;}
.post_thumb_image .col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}
/* background:#fff;opacity:0.4;*/
/**
 * Footer
 * */

#inner-footer{margin:25px 0 25px 0;background-color:#e2e5d7 !important;border:none;height:120px}
footer{background-color:#e1e4d6;}
.footer-nav{background-color:#e1e4d6;}
.footer-nav .container{padding-left:0;padding-right:0;}
.footer-nav a{color:gray !important;}
.footer-nav .navbar-nav > li a{border-right:1px solid gray;}
.footer-nav .navbar-nav > li a:hover{color:#396238 !important;}
.footer-nav .navbar-nav > li.last a{border-right:none;}
.footer-nav .navbar-nav > li.first,.footer-nav .navbar-nav > li.first a{margin-left:0px;}
.footer-logo{margin-top:50px;position:relative;top:50%;transform:translateY(-50%);}
.footer img{width:100%;}
.overlay{position:absolute;top:170px;}
.copyright{line-height:30px;min-height:30px;margin-top:10px;}

#footer-image{height:0px;background-image:url("images/footer_bottom.png");background-repeat:no-repeat;text-align:center;position:relative;z-index:-20000;bottom:0px;width:0;}
#footer-image img{position:relative;margin-top:60px;}
/*TODO opravit-rozhazuje responsive*/
/*.footer_text {color: #ffffff;font-size: 10px;position: relative;left: 160px;top:-50px;max-width: 100%;}*/
.footer_text {color: #ffffff;font-size: 12px;position: relative;margin-left: 27%;margin-top: -90px;max-width: 100%;}
.copyright a {color: black;text-decoration: underline;}

/**
 * Content
 * */

.white_delimiter{box-shadow:0 20px 30px -20px black;border-bottom:5px solid white;}
.block{box-shadow:none;background:transparent;}
.article-header,h2.article-header a{border:none;text-transform:uppercase;text-decoration:none;color:#396238;margin-bottom:0px !important;}
.pagination {margin: 0 0 40px 0;width: 100%;text-align:center;}
.article-header .h2 {color:#396238;font-weight:normal;}
#main {padding:15px 15px 40px 15px;}
#main .block {margin-bottom:0;padding:0px 15px;}
#main .page-header {padding:0 0 0 15px;}
.nav-links a{color:#396238;}
.back_link a{color:#396238;}
.back_link {height: 60px;text-align: right;position: relative;right: 40px;font-size: 18px;}

/* Left menu */
.vertical-nav.block{padding:0;}
.vertical-nav ul{margin-top:40px;}
.vertical-nav .widget ul li,.vertical-nav .widget ul li a{display:block;}
.vertical-nav .widget ul li{background-color:#E1E4D6;color:#396238;font-size:18px;text-decoration:none;border:none;text-transform:uppercase;padding:3px 15px;margin-bottom:8px;-webkit-box-shadow:0px 0px 25px 0px rgba(0,0,0,0.3);-moz-box-shadow:0px 0px 25px 0px rgba(0,0,0,0.3);box-shadow:0px 0px 25px 0px rgba(0,0,0,0.3);}
.vertical-nav .widget ul li:hover,.vertical-nav .widget ul li a:hover,.vertical-nav .widget ul li a:visited,.vertical-nav .widget ul li.active,.vertical-nav ul li.current-cat,.vertical-nav ul li.current-archive,.vertical-nav ul li.current_page_item,.vertical-nav .widget ul li a:focus{background-color:#396238;color:#396238;outline:0;}
.vertical-nav .widget ul li.active a:after,.vertical-nav .widget ul li:hover a:after,.vertical-nav li.current_page_item a:after,.vertical-nav li.current-cat a:after,.vertical-nav li.current-archive a:after,.vertical-nav ul li:hover.current_page_item a:after{position:absolute;left:100%;border:solid transparent;content:" ";height:0;width:0;border-color:rgba(136,183,213,0);border-left-color:#396238;border-width:16px;margin-top:-3px;margin-left:-10px;}
.vertical-nav .widget ul li a:focus{background:none;}

/*custom stuff in left menu*/
.vertical-nav .widget ul li a:hover,.vertical-nav ul li.current-archive a,.vertical-nav ul li.current_page_item a{color:#ffffff !important;}
#darujme {-webkit-box-shadow:0px 0px 25px 0px rgba(0,0,0,0.3);-moz-box-shadow:0px 0px 25px 0px rgba(0,0,0,0.3);box-shadow:0px 0px 25px 0px rgba(0,0,0,0.3);margin:40px 0 20px 0;}
.darujme_widget_button {width:280px !important;}
.darujme_iframe {width: 280px;height: 330px;overflow: hidden;border-style: none;display: block;margin: 0 auto;}
#sidebar-left {z-index: 3000;}
.article_left {float:left;}
.article_left h2 {font-size:35px;text-transform:none;}
/* .widget {margin:0 0 20px 0;} */


.shadow{box-shadow:10px 10px 10px gray;width:600px;height:270px;}
.formError .formErrorContent{background:none repeat scroll 0 0 #28A76A;font-family:'Roboto';position:absolute;width:180px;float:left;top:26px;right:52px;border:none;}
.widget_wysija_cont{font-family:'Roboto' !important;margin:40px 0 0 0;}
.widget_wysija_cont .wysija-submit{position:relative;float:right;top:-30px;height:30px;background-color:#157D40;color:#fff;border:none;}
input.wysija-input{width:75%;color:#ffffff;background-color:#28A76A !important;padding:0 0 0 15px;height:30px;border:none;position:relative;float:left;}
.widget_wysija_cont .updated,.widget_wysija_cont .login .message{background:none;border:none;}
.widget_wysija_cont .allmsgs ul li{padding:10px !important;line-height:22px;}
.widget_wysija{font-style:italic;}
.ngg-gallery-thumbnail img{width:185px !important;}
#fancybox-title-inside{font-family:'Roboto' !important;}
.left-menu-images img{margin:0 0 10px 0;}
.left-menu-images{text-align:center;}
.left-menu-images:before{content:' ';display:inline-block;vertical-align:middle;height:100%;}
.float-right{float:right;}
#page-content{background-color:#e1e4d6;}

/**
 * Akutality + archiv 	
 * 	*/

#main > article.category-aktuality header h2 a, #main > article header .article-header .h2 a {font-size: 20px;}
#main > article.category-aktuality header h2 a:hover,#main > article.category-aktuality header h2 a:focus {color: #396238;outline: none;}
#main > article header .article-header.article-multiple h2 a {font-size: 20px;}
#main > article header .article-header.article-multiple h2,#main > article header .article-header .h2,#main > article.category-aktuality header h2{line-height: 20px;} 



/**
 * Responsive
 * */

/* Main nav - responsive */
@media (max-width:768px){.navbar-collapse ul.navbar-nav{margin-left:0px;margin-right:0px;}
 
 .navbar-default .navbar-collapse{border:none !important;}
 #navbar-responsive-collapse .navbar-nav > li{background-color:#E1E4D6;margin-bottom:1px;}
 #navbar-responsive-collapse .navbar-nav > li.first{margin-left:0px;}
 #navbar-responsive-collapse .navbar-nav > li.first a,#navbar-responsive-collapse .navbar-nav > li a{padding:10px 30px;margin-left:0px;color:#396238;border:none;}
 #navbar-responsive-collapse .navbar-nav > .active > a,#navbar-responsive-collapse .navbar-nav > li.active a{background-color:#396238;color:#ffffff;border:none;}
 #navbar-responsive-collapse .navbar-nav > li a:hover{color:#ffffff !important;}
 #navbar-responsive-collapse .navbar-nav > li:hover{background-color:#396238;}
 #navbar-responsive-collapse ul{min-height:255px;} 
}

@media (max-width:340px){.container{width:300px;}
 img.header-logo{display:none}
 .header-search-bar{display:none}
 /* Main nav responsive*/
 .navbar-default .navbar-toggle{margin-top:40px;margin-left:0px;border-color:#E1E4D6;background-color:#E1E4D6;}
 .navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{border-color:#E1E4D6;background-color:#E1E4D6;}
 .navbar-default .navbar-toggle .icon-bar{background-color:#396238;}
  #footer-image img{margin-top:50px;}
}
@media (min-width:341px) and (max-width:380px){.container{width:340px}
 img.header-logo{display:none}
 .header-search-bar{display:none}
 /* Main nav responsive*/
 .navbar-default .navbar-toggle{margin-top:40px;margin-left:0px;border-color:#E1E4D6;background-color:#E1E4D6;}
 .navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{border-color:#E1E4D6;background-color:#E1E4D6;}
 .navbar-default .navbar-toggle .icon-bar{background-color:#396238;}
  #footer-image img{margin-top:50px;}
}
@media (min-width:381px) and (max-width:420px){.container{width:380px}
 img.header-logo{display:none}
 .header-search-bar{display:none}
 /* Main nav responsive*/
 .navbar-default .navbar-toggle{margin-top:-20px;margin-left:0px;border-color:#E1E4D6;background-color:#E1E4D6;}
 .navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{border-color:#E1E4D6;background-color:#E1E4D6;}
 .navbar-default .navbar-toggle .icon-bar{background-color:#396238;}
  #footer-image img{margin-top:50px;}
}
@media (min-width:421px) and (max-width:540px){img.header-logo{display:none}
 .header-search-bar{display:none}
 /* Main nav responsive*/
 .navbar-default .navbar-toggle{margin-top:40px;margin-left:0px;border-color:#E1E4D6;background-color:#E1E4D6;}
 .navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{border-color:#E1E4D6;background-color:#E1E4D6;}
 .navbar-default .navbar-toggle .icon-bar{background-color:#396238;}
  #footer-image img{margin-top:50px;}
}
@media (max-width:768px){img.flower-foil{display:none;position:absolute;max-width:15%;z-index:10000;}
 .header-search-bar{display:none}
 .button-nav-responsive{margin-top:-250px}
 /* Main nav responsive*/
 .navbar-default .navbar-toggle{margin-top:40px;margin-left:0px;border-color:#E1E4D6;background-color:#E1E4D6;}
 .navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{border-color:#E1E4D6;background-color:#E1E4D6;}
 .navbar-default .navbar-toggle .icon-bar{background-color:#396238;}
  #footer-image img{margin-top:100px;}
}
@media (min-width:768px){.container{width:700px;}
 img.flower-foil{display:none}
 .header-top-strip p {margin-left: 40px;} 
 .button-nav-responsive{margin-top:-250px}
 
 .navbar-nav > li a,.navbar-default .navbar-nav > li > a{font-size:14px;letter-spacing:0px;}
 .footer_text {margin:-60px 0 0 27%;}
 #footer-image img{margin-top:100px;}
 }
@media (min-width:992px){.container{width:920px;}
 .navbar-nav > li a{padding:2px 15px;}
 .navbar-nav > li,.navbar-nav > li a,.navbar-default .navbar-nav > li > a{letter-spacing:0px;font-size:14px;font-weight:500;}
}

/*TODO this is ugly fix because I dont know... */
@media (min-width:1021px) and (max-width:1025px){.metaslider{padding-top:45px}#footer-image img{margin-top:50px;}}
@media (min-width:768px) and(max-width:990){.navbar-nav > li.first,.navbar-nav > li.first a{margin-left:0px;}}
@media (min-width:768px) and(max-width:1100){.header-search-bar {display:none}}
@media (min-width:1100px){.header-top-strip p {margin-left: 30px;}}
@media (min-width:1200px){.container{width:1000px;position:relative;}.navbar-nav > li a{padding:2px 25px;}}
@media (min-width:1280px){img.flower-foil{display:block;position:absolute;left:-20%;z-index:2000;}}
@media (min-width:1440px){img.flower-foil{left:-15%;}}
@media (min-width:1600px){img.flower-foil{left:-8%;}#footer-image img{margin-top:20px;}}
@media (min-width:1850px){img.flower-foil{left:0%;}}
